
img {
    width:100;
    height:100;
    display:inline-block;
};
body {background-image:url(/Background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }
table {
    border:2 solid green;
    color: green;
    font-family:Verdana;
}
